body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #f4f4f4;
}

a {
  color: #000;
}


.header{
	box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
	background-color: white;
  }

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}
  
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
  display: flex;
}

.header .menu {
  clear: none;
  float: right;
  max-height: none;
  right: 0;
}

.header .menu-btn {
  display: none;
}

.header .menu-icon {
  display: none;
}

.header li a {
  display: block;
  padding: 20px 30px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}


/* Mobile view 48em = 768px */

@media only screen and (max-width: 48em) {

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
  background-color: white;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .0s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .0s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 3;
  height: 58px;
}

.header .menu {
  clear: both;
  position: relative;
  transition: right .2s ease-out;
  margin: 0;
  height: 100vh;
  top: -58px;
  padding-top: 58px;
  z-index: -1;
  width: 100vw;
  right: -100vw;
}


.header .menu-btn:checked ~ .menu {
  right: 0;
}

.header ul {
  display: block;
  list-style: none;
  padding-left: 0;
  background-color: white;
  height: -webkit-fill-available;
}

.header li a {
  padding: 10px 20px;
  display: block;
  text-decoration: none;
}

.hero{
	width: 100vw;
	height: 100vh;
	position: absolute;
	background-image: url("hero_img.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgb(0, 0, 255, 0.5);
	background-blend-mode: overlay;
	display: flex;
	height: -webkit-fill-available;
	align-items: center;
	align: center;
}

.container{
	width: auto;
	margin: 20px auto;
}

h1{
	color: white;
	font-size: 60px;
	line-height: 60px;
	float: left;
	margin: 0;
}

h2{
	color: white;
	font-size: 30px;
	line-height: 30px;
	margin: 0;
	float: left;
}

} /* Mobile view end */
