body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #f4f4f4;
}

a {
  color: #000;
}

/* header */

.header {
  background-color: none;
  box-shadow: none;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  position: relative;
  right: -100vw;
  transition: right .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
  background-color: white;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  position: relative;
  right: 0;
  top: -58px;
  padding-top: 58px;
  background-color: white;
  z-index: -1;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header{
	box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
	background-color: white;
  }
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
	right: 0;
  }
  .header .menu-icon {
    display: none;
  }
}


.header-container{
  max-width: 1240px;
  display: flex;
  margin: 0 auto;
  background-color: rgb(247, 246, 249);
  align-items: center;
  padding-top: 58px;
}

#hero{
	width: 100%;
	background-color: rgb(247, 246, 249);
	display: flex;
}

#left_column{
	width: 50%;
	height: auto;
	float:left;
	padding: 50px;
}

#h1{
color: navy;
    font-size: 38pt;
    line-height: 42pt;
    margin: 0;
    margin-bottom: 20px;
}

#h2{
    color: grey;
    font-size: 14pt;
    margin: 0;
    margin-bottom: 18px;
    line-height: 22pt;
}

#circle{
	float: left;
	width: 30px;
	height: 30px;
	background-color: rgb(28, 195, 135);
	border-radius: 15px;
	text-align: center;
	vertical-align: middle;
	color: white;
	line-height: 30px;
}
#label{
	color: rgb(28, 195, 135);
	line-height: 30px;
	vertical-align: middle;
	float: left;
	padding-left: 10px;
}

#right_column{
	width: 50%;
	height: auto;
	float: left;
	padding: 50px;
	align-content: center;
}

#heroimg{
	display: block;
	margin: 0 auto;
	width: 80%;
	background-color: blue;
	height: -webkit-fill-available;
}